body {
  background:rgba(80,80,10,5);
}

.coment {
  margin-top: 100px;
}

h1 {
  color: yellow;
  margin-top: -15px;
}

p {
  color: #fff;
  margin-top: 10px;
}

.form label {
  color: #fff;
}

.change {
  color:#cee;
  font-size: 12px;
  padding-top: 20px;
  text-align: right;
}
